<div id="about" class="flex  justify-center my-1 rounded-lg  ">
    <p>BMI Calculator,<i> All rights reserved </i></p>
</div>
<hr>
<div id="contact">
    <p class="flex  justify-center mt-2  "> Project by Namrata Nimmi </p>
    <p class="flex  justify-center mb-1 ">
        <a href="mailto:bmi_cal@example.com"><b> namratajaisal5213@gmail.com</b></a>
    </p>
</div>