<nav style="font-family: 'Comfortaa' ;"
class=" w-full font-bold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white flex justify-between pr-4 pl-2 fixed">
<span class="pl-14 py-3 text-2xl"><a href="/">BMI CALCULATOR</a></span></nav>